.record {
	text-align: center;
	color: green;
	font-size: 1.2em;
}

.display-none {
	display: none;
}

.recording {
	color: red;
	background-color: rgb(241 211 211);
	padding: 5px;
	margin: 6px auto;
	width: fit-content;
}
.nav{
	display: flex;
	justify-content: space-between;
}



.btns{
	margin-left: 10px;
	
	
}
button#btns {
	border-radius: 2px;
	background-color: green;
	color: white;
}

video {
	background-color: black;
	display: block;
	margin: 6px auto;
	width: 420px;
	height: 240px;
}

audio {
	display: block;
	margin: 6px auto;
}

a {
	color: green;
}

