  html {
	font-family: sans-serif;
	background: #1f1f1f;
  }
  
  body {
	margin: 0;
  }
  .demo-section {
	padding-bottom: 2rem;
	border-bottom: 2px solid;
  }
  
  .demo-section:last-child {
	border: none;
  }
  
  video {
	width: 90%;
	height: auto;
  }