@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');  
 
 html {
	font-family: sans-serif;
	background: #1f1f1f;
  }
  
  body {
	margin: 0;
	place-content: center;
	display: grid;
  }

  .wrapper-div{
	text-align: center;
  width: fit-content;
  margin: auto;
  padding: 2rem; 
}  

  h1 {
	font-size: 5vw; 
	color: black;
	font-family: 'Red Hat Display'; 
  }  

  video {
	width: 50%;
	height: 50%;
  }